@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppings', sans-serif;

}

body {
    background-color: black;
}

.main {
    background-image: url("assets/image/background.jpg");
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    position: relative;
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0%;
}

nav {
    display: flex;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-family: 'Poppings', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(193, 18, 18);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(229, 224, 224, 0.003);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 7px 50px 8px 14px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(39, 32, 32, 0.2);
    border: 1px solid rgb(244, 239, 239, 0.5);

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
h2{
    color: white;
    font-size: medium;
    position: relative;
    padding-top: 10px;
    font-size: 24px;
    padding-left: 9%;
    margin-bottom: 10px;
    margin-top: 20px;
}
.movie{
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(229, 224, 224, 0.003);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.movie-type
{
    margin-left: 1%;
}
.movie-place
{
    margin-left: 9%;
}
span{
    color: white;
    position: relative;
    font-size: medium;
    padding-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 2px solid red;
    }